s/* gitlab-language=armasm linguist-language=assembly
hdr/* gitlab-language=armasm linguist-language=assembly
**/s/* gitlab-language=armasm linguist-language=assembly
**/hdr/* gitlab-language=armasm linguist-language=assembly
